* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(138, 138, 138);
  width: 100vw;
  height: 100vh;
  min-height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

#app {
  width: 380px;
  min-height: 660px;
  max-height: 80vh;
  margin-top: 5vh;
  background-color: rgb(62, 62, 62);
  position: relative;
}

@media screen and (max-width: 400px) {
  #app {
    width: 100%;
    max-height: 100vh;
    margin: 0;
  }
}
