.libmgr-container {
  width: 70%;
  height: 100%;
  background-color: rgb(94, 94, 94);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.libmgr-projList {
  width: 80%;
  height: 300px;
  background-color: white;
  font-size: 20px;
}

.libmgr-newProjBtn {
  font-size: 20px;
  width: 80%;
  height: 1.4em;
}
