.npm-stopper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.npm-container {
  width: 50%;
  aspect-ratio: 1 /1;
  background-color: rgb(63, 63, 63);
  position: absolute;
  left: 25%;
  top: 35%;
  z-index: 11;
  border-radius: 5px;
}

.npm-label {
}

.npm-input {
}
